[submodule "vendor/gitlab.freedesktop.org/freetype/freetype.git"]
	path = vendor/gitlab.freedesktop.org/freetype/freetype.git
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "vendor/anongit.freedesktop.org/git/fontconfig"]
	path = vendor/anongit.freedesktop.org/git/fontconfig
	url = https://anongit.freedesktop.org/git/fontconfig
[submodule "vendor/github.com/mm2/Little-CMS"]
	path = vendor/github.com/mm2/Little-CMS
	url = https://github.com/mm2/Little-CMS
[submodule "vendor/github.com/uclouvain/openjpeg"]
	path = vendor/github.com/uclouvain/openjpeg
	url = https://github.com/uclouvain/openjpeg
[submodule "vendor/anongit.freedesktop.org/git/poppler/poppler.git"]
	path = vendor/anongit.freedesktop.org/git/poppler/poppler.git
	url = https://anongit.freedesktop.org/git/poppler/poppler.git
[submodule "vendor/github.com/msgpack/msgpack-c"]
	path = vendor/github.com/msgpack/msgpack-c
	url = https://github.com/msgpack/msgpack-c
	branch = cpp_master
