[submodule "vendor/git.savannah.gnu.org/r/freetype/freetype2.git"]
	path = vendor/git.savannah.gnu.org/r/freetype/freetype2.git
	url = http://git.savannah.gnu.org/r/freetype/freetype2.git
[submodule "vendor/anongit.freedesktop.org/git/fontconfig"]
	path = vendor/anongit.freedesktop.org/git/fontconfig
	url = http://anongit.freedesktop.org/git/fontconfig
[submodule "vendor/github.com/uclouvain/openjpeg"]
	path = vendor/github.com/uclouvain/openjpeg
	url = https://github.com/uclouvain/openjpeg
[submodule "vendor/anongit.freedesktop.org/git/poppler/poppler.git"]
	path = vendor/anongit.freedesktop.org/git/poppler/poppler.git
	url = http://anongit.freedesktop.org/git/poppler/poppler.git
